#masters {
    section.ourPeople {
        max-width: var(--container);
        margin:  100px auto;
        overflow: hidden;
        .texto {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            padding-left: 50px;
            padding-right: 50px;
            @media (max-width: 750px) {
                flex-direction: column;
                padding: 0 20px 20px 20px;
            }
            h2 {
                font-size: 3rem;
                color: var(--red);
                font-family: var(--tituloLight);
                @media (max-width: 750px) {
                    margin-bottom: 30px;
                }
            }
             p{
                width: 380px;
                @media (max-width: 750px) {
                    width: 100%;
                }
             }
        }
        .images {
            display: flex;
            justify-content: center;
            max-width: var(--container);
            padding: 0 50px;
            overflow-x: hidden;
            @media (max-width: 750px) {
                justify-content: flex-start;
                overflow-x: scroll;
                padding: 0 20px 20px 20px;


            }
            .grande {
                img {
                    max-width: 350px !important;
                }
            }
            .image {
                padding-left: 10px;
                padding-right: 10px;
                box-sizing: border-box;
                img {
                    height: 500px;
                    max-width: 160px;
                    object-fit: cover;
                    transition: all 350ms ease-in-out;
                    @media (max-width: 950px) {
                        height: 350px;
                    }
                    @media (max-width: 750px) {
                        width: auto;
                        max-width: fit-content;
                    }
                }
            }
        }
    }
}