.marquee {
    background-color: var(--red);
    padding: 10px 0;
    overflow: hidden; 
    position: relative;
    z-index: -2;
    &__content {
        display: flex;
        animation: scrolling 10s linear infinite;
        align-items: center;
        &--item {
            display: flex;
            align-items: center;
            flex: 0 0 120px;
            margin-right: 20px;
          /*   flex: 0 0 20vw; */
          /*   margin: 0 2vw; */
          img {
            height: auto;
            height: 25px;
          }
          span {
            font-family: var(--tituloRegular);
            text-transform: uppercase;
            color: black;
            margin-left: 0px;
            font-size: 0.85rem;
            align-self: center;
          }
        }
    }
}
    
@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translatex(-1680px); }
}
